In [1]:
import pandas as pd
import numpy as np

from ast import literal_eval

In [2]:
# Read csv file, drop unwanted columns and rows
df = pd.read_csv('./colonel_blotto.csv', header=0)
df.drop(['Unnamed: 22', 'Unnamed: 23'],axis=1, inplace=True)
df.drop(21, axis=0, inplace=True)

# Replace strings in P1 column by tuples
df['P1'] = [literal_eval(x) for x in df['P1']]

In [3]:
'''
Given two tuples, compute the utility in the form of a tuple.
'''
def getUtility(tuple1, tuple2):
    # Sanity check
    if (len(tuple1) != len(tuple2)):
        print("Your inputs don't match dumbass")
        return -1
    
    win1, win2 = 0, 0
    for i in range(len(tuple1)):
        if (tuple1[i] > tuple2[i]):
            win1+=1
        elif (tuple1[i] < tuple2[i]):
            win2+=1
        else:
            continue
    return (win1, win2)

In [4]:
# Populate the dataframe, iterate through df to compute utility
rows, cols = df.shape[0], df.shape[1]
df.iloc[0][1]
colname = df.columns[2]
colname_tuple = literal_eval(colname)

for r in range(1, rows):
    for c in range(1, cols):
        tuple1 = df.iloc[r][0]
        tuple2 = literal_eval(df.columns[c])
        df.iloc[r][c] = getUtility(tuple1, tuple2)

In [5]:
df

,P1,"(0,0,5)","(0,1,4)","(0,2,3)","(0,3,2)","(0,4,1)","(0,5,0)","(1,4,0)","(2,3,0)","(3,2,0)",...,"(4,0,1)","(3,0,2)","(2,0,3)","(1,0,4)","(1,1,3)","(1,2,2)","(1,3,1)","(2,1,2)","(2,2,1)","(3,1,1)"
0,"(0, 0, 5)","(0,0)","(1,1)","(1,1)","(1,1)","(1,1)","(1,1)","(1,2)","(1,2)","(1,2)",...,"(1,1)","(1,1)","(1,1)","(1,1)","(1,2)","(1,2)","(1,2)","(1,2)","(1,2)","(1,2)"
1,"(0, 1, 4)","(1, 1)","(0, 0)","(1, 1)","(1, 1)","(1, 1)","(1, 1)","(1, 2)","(1, 2)","(1, 2)",...,"(2, 1)","(2, 1)","(2, 1)","(1, 1)","(1, 1)","(1, 2)","(1, 2)","(1, 1)","(1, 2)","(1, 1)"
2,"(0, 2, 3)","(1, 1)","(1, 1)","(0, 0)","(1, 1)","(1, 1)","(1, 1)","(1, 2)","(1, 2)","(1, 1)",...,"(2, 1)","(2, 1)","(1, 1)","(1, 2)","(1, 1)","(1, 1)","(1, 2)","(2, 1)","(1, 1)","(2, 1)"
3,"(0, 3, 2)","(1, 1)","(1, 1)","(1, 1)","(0, 0)","(1, 1)","(1, 1)","(1, 2)","(1, 1)","(2, 1)",...,"(2, 1)","(1, 1)","(1, 2)","(1, 2)","(1, 2)","(1, 1)","(1, 1)","(1, 1)","(2, 1)","(2, 1)"
4,"(0, 4, 1)","(1, 1)","(1, 1)","(1, 1)","(1, 1)","(0, 0)","(1, 1)","(1, 1)","(2, 1)","(2, 1)",...,"(1, 1)","(1, 2)","(1, 2)","(1, 2)","(1, 2)","(1, 2)","(1, 1)","(1, 2)","(1, 1)","(1, 1)"
5,"(0, 5, 0)","(1, 1)","(1, 1)","(1, 1)","(1, 1)","(1, 1)","(0, 0)","(1, 1)","(1, 1)","(1, 1)",...,"(1, 2)","(1, 2)","(1, 2)","(1, 2)","(1, 2)","(1, 2)","(1, 2)","(1, 2)","(1, 2)","(1, 2)"
6,"(1, 4, 0)","(2, 1)","(2, 1)","(2, 1)","(2, 1)","(1, 1)","(1, 1)","(0, 0)","(1, 1)","(1, 1)",...,"(1, 2)","(1, 2)","(1, 2)","(1, 1)","(1, 1)","(1, 1)","(1, 1)","(1, 2)","(1, 2)","(1, 2)"
7,"(2, 3, 0)","(2, 1)","(2, 1)","(2, 1)","(1, 1)","(1, 2)","(1, 1)","(1, 1)","(0, 0)","(1, 1)",...,"(1, 2)","(1, 2)","(1, 1)","(2, 1)","(2, 1)","(2, 1)","(1, 1)","(1, 1)","(1, 1)","(1, 2)"
8,"(3, 2, 0)","(2, 1)","(2, 1)","(1, 1)","(1, 2)","(1, 2)","(1, 1)","(1, 1)","(1, 1)","(0, 0)",...,"(1, 2)","(1, 1)","(2, 1)","(2, 1)","(2, 1)","(1, 1)","(1, 2)","(2, 1)","(1, 1)","(1, 1)"
9,"(4, 1, 0)","(2, 1)","(1, 1)","(1, 2)","(1, 2)","(1, 2)","(1, 1)","(1, 1)","(1, 1)","(1, 1)",...,"(1, 1)","(2, 1)","(2, 1)","(2, 1)","(1, 1)","(1, 2)","(1, 2)","(1, 1)","(1, 2)","(1, 1)"
10,"(5, 0, 0)","(1, 1)","(1, 2)","(1, 2)","(1, 2)","(1, 2)","(1, 1)","(1, 1)","(1, 1)","(1, 1)",...,"(1, 1)","(1, 1)","(1, 1)","(1, 1)","(1, 2)","(1, 2)","(1, 2)","(1, 2)","(1, 2)","(1, 2)"
11,"(4, 0, 1)","(1, 1)","(1, 2)","(1, 2)","(1, 2)","(1, 1)","(2, 1)","(2, 1)","(2, 1)","(2, 1)",...,"(0, 0)","(1, 1)","(1, 1)","(1, 1)","(1, 2)","(1, 2)","(1, 1)","(1, 2)","(1, 1)","(1, 1)"
12,"(3, 0, 2)","(1, 1)","(1, 2)","(1, 2)","(1, 1)","(2, 1)","(2, 1)","(2, 1)","(2, 1)","(1, 1)",...,"(1, 1)","(0, 0)","(1, 1)","(1, 1)","(1, 2)","(1, 1)","(2, 1)","(1, 1)","(2, 1)","(1, 1)"
13,"(2, 0, 3)","(1, 1)","(1, 2)","(1, 1)","(2, 1)","(2, 1)","(2, 1)","(2, 1)","(1, 1)","(1, 2)",...,"(1, 1)","(1, 1)","(0, 0)","(1, 1)","(1, 1)","(2, 1)","(2, 1)","(1, 1)","(1, 1)","(1, 2)"
14,"(1, 0, 4)","(1, 1)","(1, 1)","(2, 1)","(2, 1)","(2, 1)","(2, 1)","(1, 1)","(1, 2)","(1, 2)",...,"(1, 1)","(1, 1)","(1, 1)","(0, 0)","(1, 1)","(1, 1)","(1, 1)","(1, 2)","(1, 2)","(1, 2)"
15,"(1, 1, 3)","(2, 1)","(1, 1)","(1, 1)","(2, 1)","(2, 1)","(2, 1)","(1, 1)","(1, 2)","(1, 2)",...,"(2, 1)","(2, 1)","(1, 1)","(1, 1)","(0, 0)","(1, 1)","(1, 1)","(1, 1)","(1, 2)","(1, 1)"
16,"(1, 2, 2)","(2, 1)","(2, 1)","(1, 1)","(1, 1)","(2, 1)","(2, 1)","(1, 1)","(1, 2)","(1, 1)",...,"(2, 1)","(1, 1)","(1, 2)","(1, 1)","(1, 1)","(0, 0)","(1, 1)","(1, 1)","(1, 1)","(2, 1)"
17,"(1, 3, 1)","(2, 1)","(2, 1)","(2, 1)","(1, 1)","(1, 1)","(2, 1)","(1, 1)","(1, 1)","(2, 1)",...,"(1, 1)","(1, 2)","(1, 2)","(1, 1)","(1, 1)","(1, 1)","(0, 0)","(1, 2)","(1, 1)","(1, 1)"
18,"(2, 1, 2)","(2, 1)","(1, 1)","(1, 2)","(1, 1)","(2, 1)","(2, 1)","(2, 1)","(1, 1)","(1, 2)",...,"(2, 1)","(1, 1)","(1, 1)","(2, 1)","(1, 1)","(1, 1)","(2, 1)","(0, 0)","(1, 1)","(1, 1)"
19,"(2, 2, 1)","(2, 1)","(2, 1)","(1, 1)","(1, 2)","(1, 1)","(2, 1)","(2, 1)","(1, 1)","(1, 1)",...,"(1, 1)","(1, 2)","(1, 1)","(2, 1)","(2, 1)","(1, 1)","(1, 1)","(1, 1)","(0, 0)","(1, 1)"
20,"(3, 1, 1)","(2, 1)","(1, 1)","(1, 2)","(1, 2)","(1, 1)","(2, 1)","(2, 1)","(2, 1)","(1, 1)",...,"(1, 1)","(1, 1)","(2, 1)","(2, 1)","(1, 1)","(1, 2)","(1, 1)","(1, 1)","(1, 1)","(0, 0)"

In [7]:
path = './output/'
df.to_csv(path + 'utility.csv', index=False)